# Formato: Nombre Real <email> Nombre Alias <email>
# O simplemente para agrupar nombres:
Luis Miguel Casado Díaz <luismiguelcasadodiaz@gmail.com> Luis Miguel Casado Diaz <luismiguelcasadodiaz@gmail.com>
Francisco Javier Català Balta <tu_email> Xavier Català <160912941+xcatalabalta@users.noreply.github.com>
Maria Natalia Martin Dans <natalia.martin@enginyers.net> 