header
{
    width: 100%;
    background-color: rgb(0, 0, 42);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    height: 70px; /*opcional*/
}

.letters
{
    /* color: yellow; */
    margin-left: 5px;
}

.signin
{
    position: relative;
}

.login, .home
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.dropdown
{
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    background-color: black;
    border: 1px solid white;
    z-index: 5;
}

ul.dropdown li a
{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

ul.dropdown li a:hover
{
    background-color: darkblue;
}

.home img, .avatarIcon
{
    width: 50px;
    height: 50px;
}

.login p
{
    padding-right: 10px;
}