.registro
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login
{
    width: 800%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}