.login-form
{
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
}

.login-form div
{
    margin: 5px 0;
    display: flex;
}

.login-form div label
{
    color: black;
}

.login-elem
{
    flex-direction: column;
}

.login-btn
{
    flex-direction: row;
}

.form-btn
{
    padding: 20px 0;
    justify-content: flex-end;
}

.login-btn button
{
    margin-right: 5px;
}

.account p
{
    color: black;
    margin-bottom: 5px;
}