.menu
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1
{
    text-align: center;
}

.bg_image
{
    width: 800px;
    height: 600px;
    margin: auto;
}

.bt
{
    display: flex;
    justify-content: center;
}

.bt button:hover
{
    background-color: white;
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}