.game
{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game h1
{
    margin-bottom: 10px;
}

/* .game div
{
    position: relative;
    width: 800px;
    height: 600px;
    
} */

.game-canvas
{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    background-color: black;
}