.app
{
    width: 100%;
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    min-height: 100vh;
}

main
{
    background-color: lightblue;
}

button
{
    width: 125px;
    height: 30px;
    background-color: beige;
    cursor: pointer;
}

.lang-but button
{
    background-color: gray;
}

.lang-but button:hover
{
    color: white;
    background-color: black;
}

.lang-but button.lang-sel
{
    color: black;
    background-color: white;
}

.cat
{
    padding-bottom: 3px;
}