services:

  grafana:
    image: grafana/grafana-oss:latest
    restart: always
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - dbserver
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - 3000:3000
    networks:
      transcendence_net:
        ipv4_address: 192.168.1.4  # Fixed IP
        aliases:
          - in_net


