services:
  # 2. Backend (NestJS + Socket.io Gateway)
  backend:
    build: .
    container_name: ${BE_CONTAINER_NAME}
    restart: on-failure
    depends_on:
      - ${DB_CONTAINER_NAME}
    ports:
      - ${BE_CONTAINER_PORT}:${BE_CONTAINER_PORT} # Puerto para API y WebSockets
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - ../.env
    networks:
      transcendence_net:
        ipv4_address: ${BE_IP}  # Fixed IP
        aliases:
          - in_net
