header
{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letters
{
    color: white;
}

.signin
{
    position: relative;
}

.login, .home
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.dropdown
{
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    background-color: black;
    border: 1px solid white;
    z-index: 5;
}

ul.dropdown li a
{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

ul.dropdown li a:hover
{
    background-color: darkblue;
}