.profile
{
    border: 1px solid red;
    width: 100%;

    display: grid;
    grid-template-columns: 150px 1fr;
}

.profile nav
{
    height: 79vh;
    background-color: lightskyblue;
}

.profile nav ul li
{
    margin: 10px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.profile nav ul li:hover
{
    background-color: lightcyan;
    border-bottom: 3px solid black;
}

.selected
{
    background-color: azure;
    border-bottom: 3px solid black;
    pointer-events: none;
    
}

.pro-con
{
    border: 2px solid black;
}

.sol
{
    width: 1.25rem;
    height: 1.25rem;
    
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;

    background-color:#ef4444;
    font-size: 0.75rem;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}