services:

  adminer:
    image: adminer
    restart: always
    container_name: adminer    
    ports:
      - 8080:8080
    networks:
      transcendence_net:
        ipv4_address: 192.168.1.3  # Fixed IP
        aliases:
          - in_net
