services:
  # Base de Datos: Requisito de persistencia [cite: 182]
  dbserver:
    image: postgres
    restart: always
    container_name: dbserver
    environment:
      POSTGRES_PASSWORD: example
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      - db_data:/var/lib/postgresql/18/docker
    networks:
      transcendence_net:
        ipv4_address: 192.168.1.2  # Fixed IP
        aliases:
          - in_net

  # Use postgres/example user/password credentials
      # environment:
      # POSTGRES_USER: myuser
      # POSTGRES_PASSWORD: mypassword
      # POSTGRES_DB: transcendence

#services:

  # db4:
  #   image: postgres
  #   restart: always
  #   # set shared memory limit when using docker compose
  #   shm_size: 128mb
  #   # or set shared memory limit when deploy via swarm stack
  #   #volumes:
  #   #  - type: tmpfs
  #   #    target: /dev/shm
  #   #    tmpfs:
  #   #      size: 134217728 # 128*2^20 bytes = 128Mb
  #   environment:
  #     POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    container_name: adminer    
    ports:
      - 8080:8080
    networks:
      transcendence_net:
        ipv4_address: 192.168.1.3  # Fixed IP
        aliases:
          - in_net
