services:
  # Base de Datos: Requisito de persistencia [cite: 182]
  db:
    image: postgres:15
    container_name: transcendence_db
    restart: always
    build:
      context: .
      dockerfile: dockerfile_dbserver
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: transcendence
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      transcendence_net:
        ipv4_address: 192.168.1.2  # Fixed IP
        aliases:
          - in_net


  dbserver:
    command: echo "I'm running ${COMPOSE_PROJECT_NAME}/webserver"
    container_name: dbserver
    image: dbserver # EL nombre de la imagen debe coincidir con el nombre del servicio




