name: DB Validation Tests

on:
  push:
    branches: [ "main", "develop" ] # Adjust these to your default branches
  pull_request:
    branches: [ "main" ]

test-db:
    runs-on: ubuntu-latest
    services:
      dbserver:
        image: your-custom-postgres-image:latest # The image with synthetic data
        env:
          POSTGRES_DB: TRANSCENCENDE
          POSTGRES_PASSWORD: example
        ports:
          - 5432:5432
        # Ensure the DB is ready before starting tests
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      
      - name: Run Database Checks
        run: make test-db-content
        env:
          DB_URL: postgresql://postgres:your_password@localhost:5432/TRANSCENCENDE